body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

body * {
  font-family: 'Karla', sans-serif;


}

main {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

#dropdown-container {
  display: flex;
  justify-content: center;



  width: 100%;
  /* Ensure it takes up the full width of its container */
  margin-top: 20px;
  /* Adjust as needed */
  margin-bottom: 20px;
  /* Adjust as needed */
}

#dropdown-container select {
  align-items: center;
  font-size: 1.5em;
  height: 30px;
}

h1 {
  text-align: center;
  font-family: "Crimson Pro", serif;
  color: #333;
  /* Choose your preferred text color */
  font-size: 3em;
  /* Adjust the font size as needed */
  margin-top: 50px;
  /* Adjust the top margin as needed */
  margin-bottom: 30px;
  /* Adjust the bottom margin as needed */
  font-weight: bold;
  /* Set font weight to bold or normal as needed */
  text-transform: uppercase;
  /* Convert text to uppercase if desired */
  letter-spacing: 2px;

  /* Adjust letter spacing as needed */
  /* Add other styling properties as needed */

}

.table {
  border-collapse: collapse;
}

.table,
.table th,
.table td {
  border: 1px solid #0a0a0a;
}

.table th,
.table td {
  padding: 0rem;
}

.table th {
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
}

.resizer:hover,
.resizing {
  border-right: 2px solid blue;
}

.resizable {
  border: 1px solid rgb(32, 32, 32);
  height: 100px;
  width: 100px;
  position: relative;
}

button {
  font-family: inherit;
  font-size: 1em;
}

.domingo {
  color: blue;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(32, 99, 145);
  /* Button color */
  color: #fff;
  /* Text color */
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Add a smooth transition on hover */

  /* Hover state */
  &:hover {
    background-color: #2980b9;
    /* Darker button color on hover */
  }
}

/* Add this CSS to your stylesheet or within a <style> tag */

/* Tooltip container */
.tooltip {
  position: relative;
  /*display: inline-block;*/
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip container when hovering over it */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#filtros,
#ensembleCheckboxes {
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(212, 198, 180);
}

.mobile-minimized {
  display: none !important;
  /* initially hide in mobile view */
}


header {
  /* background-color: rgb(100, 204, 105); */
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;

  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 10px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: calc(33.33% - 20px);
  /* Adjust the width based on your design */
}

.cantidades,
#encabezadoImprimir {
  font-size: 20px;
}

#cantidades,
#encabezadoImprimir {
  text-align: center;
  background-color: #a1a1a1;
}

nav {
  order: -1;
  /* Move the nav to the top of the header */
  display: flex;
  justify-content: space-around;
}

nav a,
footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--nav-hover-link-color);
  background-color: rgb(195, 163, 253);
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
  height: 100%
}

a {
  color: rgb(0, 0, 0)
}

header nav a:hover,
footer a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}

footer nav {
  margin-left: auto;
}

footer nav a img {
  height: 30px
}

#table-data {
  border-collapse: collapse;
  width: 100%;
  /*overflow: auto;*/
}

#table-container {
  width: 100%;
}

#people-details-table {

  width: 100%;
  border: 2px solid black;

  tbody {

    td:not(:first-child) {
      text-align: center;
    }

    td:nth-child(1),
    td:nth-child(5),
    td:nth-child(9),
    td:nth-child(13) {
      border-right: 1px solid black;
    }


  }

  th {
    border-right: 1px solid black;
  }

}



h2 {
  font-size: 3em;
  text-align: center;
}

#maestro {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  font-size: 2em;
  text-align: center;

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }


}



#people-details-table_length {
  display: none;
}

.ensemble-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  font-size: 20px;
  border-color: black;
  border-style: ridge;
  border-collapse: collapse;
  border-width: 0.10px;
  justify-items: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  width: 70%;
  /* Adjust the width as needed */
  margin: 0 auto;
  /* Center the grid horizontally */
}

.ensemble-grid label {
  border-color: black;
  border-style: ridge;
  border-collapse: collapse;
  border-width: 0.05px;
  text-align: center;
  /* Center the text inside the label */
  width: 100%;
  /* Ensure labels take up the full width of the grid cell */
  display: flex;
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
}

.filter-input {
  z-index: 1;
  width: 90%;
  /* Ensure the input boxes take up the full width of the cell */
}

.filter-checkbox {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  /* Add some right margin to separate checkbox from text */
}

#filtros * {
  margin: 3px 2px;
}



#table-data th,
#table-data td {
  border: 1px solid #4e4e4e;
  /*text-align: left;*/
  padding: 00px 0px;



}

#table-data td {
  word-break: break-word;
  font-size: 1em;
}


#table-data th {
  text-align: center;
}


#table-data th {
  background-color: #f2f2f2;
}

summary {
  background-color: #f0f0f0;
  font-size: 20px;

  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
}

#encabezadoImprimir {
  display: none;
}


h3 {
  font-size: 2em;
  word-wrap: break-word;

}

td * {
  line-height: 1;
  margin: 0.2em;
}

td a {
  font-size: 0.7em;
  box-sizing: border-box;
  background-color: lightblue;
  padding: 1px 1px;
  margin: 1px;
}

h4 {
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
}

p {
  font-size: 1em;
  padding: 0.2em;
}
.summary-row.ensayoGira{
  background-image: linear-gradient(to right, rgb(101, 111, 255) 0%, rgb(236, 233, 233) 20%, rgb(236, 233, 233) 80%, rgb(101, 111, 255) 100%); /* Blue on both sides, transparent in the middle */
}
.ensayoGira {
  background-image: linear-gradient(to right, rgb(101, 111, 255) 0%, rgb(236, 233, 233) 5%); /* Blue on both sides, transparent in the middle */
}
.ensayoGira.desplegado{
  background-image: linear-gradient(to right, rgb(101, 111, 255) 0%, rgb(236, 233, 233) 10%, rgb(236, 233, 233) 90%, rgb(101, 111, 255) 100%); /* Blue on both sides, transparent in the middle */
}

.summary-row.presentacion{
  background-image: linear-gradient(to right, yellow 0%, rgb(236, 233, 233) 20%, rgb(236, 233, 233) 80%, yellow 100%); /* Blue on both sides, transparent in the middle */
}
.presentacion {
  background: linear-gradient(to left, rgb(236, 233, 233) calc(100% - 5%), yellow 100%);
}
.presentacion.desplegado{
  background-image: linear-gradient(to right, yellow 0%, rgb(236, 233, 233) 10%, rgb(236, 233, 233) 90%, yellow 100%); /* Blue on both sides, transparent in the middle */
}
.summary-row.ensayo{
  background-image: linear-gradient(to right, violet 0%, rgb(236, 233, 233) 20%, rgb(236, 233, 233) 80%, violet 100%); /* Blue on both sides, transparent in the middle */
}
.ensayo {
  background: linear-gradient(to left, rgb(236, 233, 233) calc(100% - 5%), violet 100%);
}
.ensayo.desplegado {
  background-image: linear-gradient(to right, violet 0%, rgb(236, 233, 233) 10%, rgb(236, 233, 233) 90%, violet 100%); /* Blue on both sides, transparent in the middle */
}
.summary-row.mixto { 
  background-image: linear-gradient(to right, rgb(37, 207, 94) 0%, rgb(236, 233, 233) 20%, rgb(236, 233, 233) 80%, rgb(37, 207, 94) 100%); /* Blue on both sides, transparent in the middle */
}
.mixto {
  background: linear-gradient(to left, rgb(236, 233, 233) calc(100% - 5%), rgb(37, 207, 94) 100%);
}
.mixto.desplegado{
  background-image: linear-gradient(to right, rgb(37, 207, 94) 0%, rgb(236, 233, 233) 10%, rgb(236, 233, 233) 90%, rgb(37, 207, 94) 100%); /* Blue on both sides, transparent in the middle */
}
.sepGira{
  border: 2px dashed rgb(51, 51, 51) !important;
  background-color: rgb(70, 68, 68);
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.sepGira a{
  background-color: rgb(168, 167, 167);
  margin: 0px;
  line-height: 1px;
}

.summary-row {
  border: 0.12em solid gray !important;
}
@media print {
  body * {
    visibility: hidden;
  }

  body {
    height: auto;
    min-height: 0;
    margin: 2;
    padding: 0;
    overflow: hidden;
  }

  header,
  header * {
    visibility: hidden;
  }



  #printableArea,
  #printableArea * {
    visibility: visible;
  }

  #encabezadoImprimir {
    display: block;
    font-size: 40px;
  }

  #printableArea {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    position: absolute;
    left: 0;
    top: 0;
    page-break-inside: avoid;
    overflow: hidden;
    /* Ensure no overflow */
  }

  @page {
    size: auto;
    /* Set the paper size */
    margin: 5mm;
    /* Set margins to 0 to effectively hide headers and footers */
  }

  #filtros-texto {
    display: none;
  }

  .table,
  .table th,
  .table td {
    font-size: 0.8em;
  }

}

/* Styles for floating filters */
.floating-filtros {

 
  top: 30%;
  /* Center vertically */
  left: 30%;
  /* Center horizontally */
  width: 410px;
  height: 450px;
  resize: none;
  background-color: rgb(236, 233, 233);
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  /* Ensure it's above other content */
  display: none;
  /* Initially hide */
  cursor: grab;
  /* Set cursor to indicate draggable */
  touch-action: none;
  /* Disable default touch behavior */


}

.floating-filtros * {
  font-size: 0.8em;

}

.marcar {
  display: flex;
  flex-direction: row;
}

.close-button {
  position: absolute;
  background-color: red;
  color: rgb(236, 233, 233);
  font-size: 0.7em;
  padding: 2px;
  width: 30px;
  height: 30px;
  text-align: center;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.checks {
  display: flex;
  flex-direction: column;

}

.floating-filtros.show {
  display: block;
  /* Show when toggled */
}

/* Media query for mobile devices */
@media screen and (max-width: 700px) {
  body {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .header-content {
    display: flex;
    flex-direction: column;
  }

  /* Adjust ensemble grid within floating filters */
  .floating-filtros .ensemble-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* Adjust filters within floating filters */
  .floating-filtros #filtros {
    display: flex !important;
    flex-direction: column !important;

  }

  #marcar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}